<div class="button-bar">
  <button (click)="gotoNextPage()">Next Page</button>
  <button (click)="gotoPreviousPage()">Previous Page</button>
  <button (click)="gotoToPage(4)">Go To Page 4</button>
  <button (click)="gotoToPage(2)">Go To Page 2</button>
  <button (click)="gotoToLastPage()">Go To Last Page</button>

</div>

<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [rowData]="rowData"
  [enableFilter]="true"
  [floatingFilter]="true"
  [columnDefs]="columnDefs"
  [rowModelType]="rowModelType"
  [cacheBlockSize]="cacheBlockSize"
  [maxBlocksInCache]="maxBlocksInCache"
  [enableColResize]="true"
  [animateRows]="true"
  [paginationPageSize]="paginationPageSize"
  (gridReady)="onGridReady($event)"
  [pagination]="pagination"
>
</ag-grid-angular>

