<div class="row">
<nav aria-label="Page navigation example">
  <ul class="pagination left">
    <li class="page-item">
      <a class="page-link"  aria-label="First" (click)="gotoFirstPage()">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">First</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click)="gotoPreviousPage();">
        <span aria-hidden="true">&lsaquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="gotoNextPage()">
        <span aria-hidden="true">&rsaquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Last" (click)="gotoToLastPage()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Last</span>
      </a>
    </li>
  </ul>
  <ul class="pagination left" >
    <li *ngFor="let page of getPageCount()" class="page-item">
      <a class="page-link" (click)="gotoToPage(page.value)" *ngIf="!page.type">{{page.value}}</a>
      <a class="page-link" (click)="gotoToPage(page.value)" *ngIf="page.type === 'bold'"><strong>{{page.value}}</strong></a>
      <a class="page-link" (click)="gotoToLastPage()" *ngIf="page.type === 'last'">{{page.value}}</a>
      <a class="page-link" *ngIf="page.type === '...'">{{page.type}}</a>
    </li>
  </ul>
</nav>
</div>
<!--<div class="button-bar">-->
  <!--<button type="button" class="btn btn-outline-secondary" (click)="gotoFirstPage()">|&lt;</button>-->
  <!--<button (click)="gotoPreviousPage()">&lt;&lt;</button>-->
  <!--<button (click)="gotoNextPage()">&gt;&gt;</button>-->
  <!--<button (click)="gotoToPage(4)">Go To Page 4</button>-->
  <!--<button (click)="gotoToPage(2)">Go To Page 2</button>-->
  <!--<button (click)="gotoToLastPage()">&gt;|</button>-->

<!--</div>-->

<ag-grid-angular
  style="width: 100%; height: 700px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [rowData]="rowData"
  [enableFilter]="true"
  [floatingFilter]="true"
  [columnDefs]="columnDefs"
  [rowModelType]="rowModelType"
  [cacheBlockSize]="cacheBlockSize"
  [maxBlocksInCache]="maxBlocksInCache"
  [enableColResize]="true"
  [animateRows]="true"
  [paginationPageSize]="paginationPageSize"
  (gridReady)="onGridReady($event)"
  [pagination]="pagination"
  [rowClassRules]="rowClassRules"
  [rowBuffer]="0"
>
</ag-grid-angular>

